.videoWrapper {
	position: relative;
	padding-bottom: 90.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 80%;
	max-height: 315px;
}
